/* Diagnostic Styling */
* {
    outline: 1px dotted gray;
  }
  
 @media screen and (max-width: 300px)
 {
  body{
    background: #c36565;
  }
 }

 main {
  background: gainsboro;

  /*  make two colums  */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 1fr 1fr */
}

article {
  background: lightblue;
  padding: 1em;

  /*  vert center. horiz center.  */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  max-width: 100vh;
}

aside {
  background: lightcoral;
}

aside img {
  /* fit image to container */
  display: block;

  /* full height image. Fit to container. no stretching. */
  height: 50vh;
  object-fit: cover;
}

nav{
  display: block;
}
